.text-head {
  text-align: right;
  font-size: 30px;
  color: #e1e316;
  margin-bottom: 2.5rem;
  margin-top: 3.5rem;
}

.card.my-3 {
  height: 15rem;
  border-radius: 1.5rem;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.15);
  border: none;
}

.card{
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.15);
    border: none;
}

.point{
    height: 4rem;
    width: 4rem;
    background-color: #EFE817;
    border-radius:50% ;
}

.number-span{
    position: absolute;
    font-size: 2rem;
    color: #fff;
    right: 2.5rem;
    top: 1.8rem;
}

@media (max-width: 400px) {
    .card.my-3{
        border-radius: 2.1rem;
    }

    .point{
        height: 3rem;
        width: 3rem;
    }
    
    .number-span{
        right: 2rem;
    }
}

@media (min-width: 600px) {
    .card.my-3{
        border-radius: 2.1rem;
    }
}

@media (min-width: 768px) {
    .card.my-3{
        border-radius: 1.5rem;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
}

// @media (max-width: 600px) {
// }

// @media (min-width: 600px) {
// }

// @media (min-width: 768px) {
// }

// @media (min-width: 992px) {
// }

// @media (min-width: 1200px) {
// }
