.the-input {
  border-color: #fbfbfb;
  background-color: #fbfbfb;
}
.search-btn {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
}
.input-group {
  background-color: #fff;
  width: 90%;
}
h3 {
  font-weight: bold;
  color: #e1e316;
}
div {
  text-align: start;
}
.search-container {
  width: 75%;
}
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.input-group-prepend{
  background-color: #fff;
}
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.input {
  text-align: start;
  background-color: #fff;
  border-color: #fff;
}
.search-btn {
  background-color: #fff;
  border-color: #fff;
}
.site-page {
  margin-top: 3.5rem;
}
.search-title {
  color: #e1e316;
}
.result {
  display: none;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 48%;
  border-color: #fff;
  border-radius: 10px;
}
img {
  height: 62.45px;
  width: 62.45px;
}
.name {
  color: #48586780;
}
.email {
  // color: #CCCCCC8C;
  color: #7070708c;
}
.full-row{
  justify-content: space-around;
}
.card-row{
  display: flex;
  justify-content: space-between;
}