.full-page {
  // display: flex;
  min-height: 100vh;
}
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;
}
.back {
  position: absolute;
  left: 30px;
  top: 20px;
  object-fit: contain;
}
.sign-up {
  width: 100%;
  height: auto;
}
.did-you-forget-password {
  font-weight: bold;
  color: #111111;
}
.data-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  background-color: #FBFBFB;
  border-color: #FBFBFB;
  border-radius: 10px;
  padding-right: 20px;
}
label {
  display: flex;
  color: #707070;
}
::placeholder {
  color: #70707035 !important;
  // font-weight: bolder;
}
.username-realname {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-number {
  display: flex;
  justify-content: space-around;
}
.know-us {
  border-color:#FBFBFB;
  background-color: #FBFBFB;
  color: #70707035;
}
p {
  font-size: 9px;
  color: #919191;
}

.radios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.radio-inputs p {
  font-weight: bold;
  color: #2e2e2e;
}
//   label {
//     font-weight: bold;
//     color: #2e2e2e;
//   }
h6 {
  font-weight: bold;
}
.types {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.one-type {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
select {
  border-color: #fff;
  border-bottom-color: #8a8a8a50;
}
.type {
  color: #2e2e2e;
}
.checkbox {
  display: flex;
  align-items: center;
}
.checkbox-text {
  color: #2e2e2e;
}
.checkbox-text2 {
  color: #919191;
}
.terms-text {
  color: #a9ae00;
}
.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}
.email-input-container {
  padding-left: 7px;
  padding-right: 15px;
}
.how-did-know-us {
  padding-left: 7px;
  padding-right: 15px;
}
.activation-button {
  background-color: #7b7b7b;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.radios-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.radio-inputs p {
  font-weight: bold;
  color: #2e2e2e;
}
.radios label {
  color: #2e2e2e;
}