.full-page {
  display: flex;
  min-height: 100vh;
}
.right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 15rem;
  justify-content: space-around;
  align-items: center;
}
.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;
}
.back {
  position: absolute;
  left: 30px;
  top: 20px;
  object-fit: contain;
}
.sign-up {
  width: 100%;
  height: auto;
}
.did-you-forget-password {
  font-weight: bold;
  color: #111111;
}
.data-input {
  // flex: 1;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.input {
  background-color: #FBFBFB;
  border-color: #FBFBFB;
  border-radius: 10px;
  padding-right: 20px;
}
.input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label{
  color: #707070;
}
.remmember-pass-forget{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.remmember-me{
  color: #2E2E2E;
}
.forgit-pass{
  color: #7B7B7B;
}
::placeholder{
  color: #70707035 !important;
}
.remmember-me-text{
  color: #000;
}
.submit-buttons{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:center;
  margin-bottom: 20px;
}
.login{
  font-weight: bold;
  color: #fff;
  background-color: #7B7B7B;
}
.sign-up-button{
  font-weight: bold;
  color: #fff;
  background-color: #B4B4B4;
}
.w-75 {
  width: 90% !important;
}
.w-25 {
  width: 35% !important;
}