.full-page {
  display: flex;
  min-height: 100vh;
}
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;
}
.back {
  position: absolute;
  left: 30px;
  top: 20px;
  object-fit: contain;
}
.sign-up {
  width: 100%;
  height: auto;
}
.did-you-forget-password {
  font-weight: bold;
  color: #111111;
  text-align: center;
}
.title {
  text-align: center;
  color: #7e7e7e;
  font-weight: bold;
}
.data-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.activation-button {
  background-color: #7b7b7b;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
h4 {
  text-align: center;
  color: #7E7E7E;
  margin-bottom: 20px;
  width: 80%;
}
.input {
  background-color: #ffffff76;
  border-color: #ffffff76;
  border-radius: 10px;
  padding-right: 20px;
}
::placeholder{
  color: #70707035 !important;
}
.radio-inputs {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 10px;
}
.radios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.radio-inputs p {
  font-weight: bold;
  color: #2e2e2e;
}
label {
  font-weight: bold;
  color: #2e2e2e;
}
.form-control{
  background-color: #FBFBFB;
  border-color: #FBFBFB;
  font-size: 12px;
  border-radius: 10px;
}