.full-page {
  min-height: 100vh;
}

.right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efefef;
}

.back {
  position: absolute;
  left: 30px;
  top: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.sign-up {
  width: 100%;
  height: auto;
}

.did-you-forget-password {
  font-weight: bold;
  color: #111111;
}

.data-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  background-color: #FBFBFB;
  border-color: #FBFBFB;
  border-radius: 10px;
  padding-right: 20px;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #707070;
}

::-webkit-input-placeholder {
  color: #70707035 !important;
}

:-ms-input-placeholder {
  color: #70707035 !important;
}

::-ms-input-placeholder {
  color: #70707035 !important;
}

::placeholder {
  color: #70707035 !important;
}

.username-realname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.know-us {
  border-color: #FBFBFB;
  background-color: #FBFBFB;
  color: #70707035;
}

p {
  font-size: 9px;
  color: #919191;
}

.radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.radio-inputs p {
  font-weight: bold;
  color: #2e2e2e;
}

h6 {
  font-weight: bold;
}

.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.one-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

select {
  border-color: #fff;
  border-bottom-color: #8a8a8a50;
}

.type {
  color: #2e2e2e;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-text {
  color: #2e2e2e;
}

.checkbox-text2 {
  color: #919191;
}

.terms-text {
  color: #a9ae00;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.email-input-container {
  padding-left: 7px;
  padding-right: 15px;
}

.how-did-know-us {
  padding-left: 7px;
  padding-right: 15px;
}

.activation-button {
  background-color: #7b7b7b;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.radios-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-inputs p {
  font-weight: bold;
  color: #2e2e2e;
}

.radios label {
  color: #2e2e2e;
}
/*# sourceMappingURL=form-sign-up.css.map */