.form-control:focus {
  color: #495057;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
  background-color: transparent;
}

::placeholder {
  color: #d2d2d2 !important;
}

.search-container {
  background-color: #fbfbfb;
} 

.input-search {
  background-color: transparent;
}

i {
  color: #a7a7a7;
  font-size: 1.2rem;
}

button {
  border: none !important ;
  background-color: transparent;
}

button:focus {
  outline: none !important;
}

.head-text {
  color: #707070;
  font-size: 1.4rem;
}

.card {
  border: none;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-right: -15px !important;
}

.card button {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btnn {
  padding: 0;
}

.body-card {
  font-weight: bolder;
}

.body-card h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.body-card p {
  font-size: 0.8rem !important;
}

.modal{
  color: #707070;
  font-weight: bolder;
}

// .modal-header{
//   border-bottom: none;
// }

.modal-body {
  padding: 0;
}

.row-modal-form{
  background-color: #B8B8B847;
  
  padding: 0.5rem;
  p{
    margin: 0;
  }
  .width-row-modal{
    width: 65%;
  }
  ::placeholder{
    font-size: 0.7rem;
    color: #B8B8B8;
    font-weight: bolder;
  }
  input{
    border-color:#70707041 ;
    background-color: inherit;
  }
  input:focus{
    background-color:#fff ;
  }
  
}

.input-row{
  background-color: #F1F3F5 !important;
  opacity: 0.57;
}

.btn-gift{
  background-color :#707070;
  font-size: 0.8rem;
  font-weight: bold;
}