.site-page {
  margin-top: 3.5rem;
}
.site-page-card{
  margin-top: 3.5rem;
}
.profile-head {
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 10px;
}
.tags {
  background-color: #fff;
}
.title {
  font-size: 32px;
  font-weight: bold;
  color: #e1e316;
  text-align: right;
  width: 100%;
  margin-right: 60px;
}
.icon {
  font-size: 24px;
  color: #919191;
  margin-left: 20px;
  margin-top: 20px;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 120%;
}
.admin {
  // font-size: 30px;
  font-weight: bold;
  color: #707070;
}
.followers {
  font-weight: bold;
  color: #707070;
}
.phone {
  font-weight: bold;
  color: #707070;
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-and-flag .flag {
  display: none;
}
.profile-title-with-image {
  display: none;
}
@media (max-width: 320px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: 460px) {
  .button-groups .the-button {
    color: #959595;
    font-size: 10px;
    background-color: #fff;
  }
  .profile-head .user-details .admin-and-flag .flag {
    display: flex;
  }
  .profile-head .flag {
    display: none;
  }
  .profile-title-with-image {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #b8b8b8;
    text-align: center;
  }
  .title {
    display: none;
  }
  .the-button {
    color: #959595;
    font-size: 14px;
    background-color: #fff;
  }
  .site-page {
    margin-top: 0;
  }
}
@media screen and (max-width: 960px) {
  .button-groups .the-button {
    color: #959595;
    font-size: 18px;
    background-color: #fff;
  }
}
.flag {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
  color: #919191;
}
.button-groups {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
}
.button-groups .the-button {
  color: #959595;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.button-groups button:hover {
  background-color: #e2e417;
  color: #fff;
  z-index: 1;
}
.admin-and-flag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}
.result {
  font-weight: bold;
  color: #7e7e7e;
  margin-top: 30px;
  display: none;
}
.result-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  height: 100%;
  width: 258px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.the-star {
  color: #707070;
}
.image-card {
  height: auto;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-row {
  display: flex;
}
.card-user-details {
  display: flex;
}
.price {
  font-weight: bold;
  color: #707070;
  text-align: right;
}
.starts {
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.time i {
  color: #b8b8b8;
}
.time p {
  color: #b8b8b8;
}
.card-text {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
}
.card-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 100%;
  border-color: #b8b8b8;
  border-radius: 20px;
  border-width: 1px;
}
.bottom-button {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.second-section-card {
  background-color: #efef;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  // width: 258;
}

.card {
  position: relative;
  border-radius: 1rem;
  border: none;
  font-size: 75%;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15) !important;
  height: 25rem;
  margin-bottom: 20px;
}

.head-card {
  height: 11rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  background-size: cover;
}

.bg-card1 {
  background-image: url("../images/index-img-card.svg");
}

.bg-card2 {
  background-image: url("../images/bg-home-card.svg");
}

.bg-card3 {
  background-image: url("../images/bg-card-home2.svg");
}

// .head-card img{
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   border-top-left-radius: 1rem;
//   border-top-right-radius: 1rem;
// }

.fixed-label {
  height: 2rem;
  width: 3rem;
  color: #474747;
  background-color: #cacf2b;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  margin-bottom: -1rem;
}

.love-icon-card {
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px #e2e2e2 solid;
  font-size: 0.8rem;
  transition: 0.4s;
  i {
    color: #707070;
    transition: 0.4s;
  }
  &.active {
    background-color: #ec4b5a;
    border: 1px #fff solid;
    i {
      color: #fff;
    }
  }
}
.body-card{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px ;
}
.body-card-icon i {
  font-size: 1rem;
  color: #b8b8b8;
}

.body-card-icon p {
  margin: 0em;
  color: #707070;
  font-weight: bolder;
}

.body-card h6 {
  color: #111111;
  font-weight: bolder;
  font-size: 0.85rem;
}

.content-card-text {
  color: #707070;
  font-size: 0.7rem;
}

.body-card h5 {
  color: #707070;
  font-weight: bolder;
}

.full-star {
  color: #f8da48 !important;
}

.empty-star {
  color: #e2e2e2;
}

.star-icon {
  transform: rotate(107deg);
  font-size: 0.85rem;
}

.time-publish i {
  font-size: 0.8rem;
  color: #b8b8b8;
}

.time-publish p {
  margin: 0;
  color: #b8b8b8;
  font-size: 0.55rem;
}
.button-group{
  display: flex;
  justify-content: space-around;
  background-color: #EFEFEF;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.mb-2, .my-2 {
  margin-bottom: 0 !important;
}
.inside-button{
  display: flex;
  align-items: center;
}
.one-follower{
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  align-self: flex-start;
}
.btn-warning {
  color: #fff;
  height: 50%;
  border-radius: 50px;
  // font-weight: bold;
}
.btn-warning:hover {
  color: #fff;
}
.modal-input{
  border-radius: 50px;
}
.modal-card-title{
  text-align: right;
  color: #707070;
}
.modal-card-description{
  color: #707070;
  text-align: right;
}