.contain-form{
    border-radius:0.5rem;
}

.first-form{
    margin: 0;
}

.save-btn{
    background-color: #CACF2B !important;
}

#upload-image:hover{
    background: rgba(0,0,0,0.7) !important;
    #icon-camera{
        display: block !important;
    }
}

.form-control {
    border: none;
    
}